apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: statusquarkusio-wndb
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rhtap-demo-kigy-tenant/status-quarkus-io/statusquarkusio-wndb@sha256:39b1a276f59d6cdd756a5e4d7f70e910810163fc82eac2a3c045ddfc36eeb28d
        name: my-java-quarkus
        resources: {}
status: {}
